:root {
    --primary-color: #303030;
    --font-title:'Roboto', sans-serif;
    --font-title-size: 2rem;
    --header-font-size: 2rem;
    --font-text: 'Poppins', sans-serif;
    --font-text-size: 1.6rem;
}

* {
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}


.header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.header-logo img{
    width: 50px;
    height: 50px;
}

.header-logo h1 {
    margin-left: 2%;
    color: white;
    font-family: var(--font-title);
    font-size: var(--header-font-size);
}

.header-nav--menu {
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    padding: 5px;
}

svg {
    fill: #BCBCBC;
    /* background-color: rgb(114, 114, 114); */
    width: 45px;
    height: 45px;
    padding: 5px;
}


.main {
    width: 100%;
    padding: 0 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.main_Hero {
    padding: 2%;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    font-family: var(--font-title);
    font-size: 2rem;
}

.main_Services {
    margin-top: 5%;
    
}

.main_Container {
    margin-bottom: 3%;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    font-family: var(--font-title);
    font-size: 2rem;
}

.Experience {
    margin-top: 3%;
    border: 1px solid rgb(148, 67, 67);
    
}



.footer {
    width: 100%;
    padding: 3% 5%;
    background-color: rgb(255, 255, 255);
}

.footer_AboutUs {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    padding: 2%;
    font-family: var(--font-title);
    font-size: 2rem;
}


.footer_ContactUs {
    margin-top: 3%;
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}




/* test code */

/* main services */

.Test-Box {  
    
    width: 200px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
}


/* footer */

.Test-Box2 {
    width: 40px;
    height: 50px;
    border: 1px solid black;
    margin-left: 10px;
}

.Test-container {
    display: flex;
    justify-content: space-around;
}