@use 'assets/styles/global.scss' as *;

.contactForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 35px 0;

  &-inputMessage {
    textarea {
      width: 100%;
      padding-left: 10px;
      border: none;
      border-radius: 8px;
      background: $input-color;
      color: $fn-color;

      &::placeholder {
        color: get-opacity($fn-color, 0.5);
      }
  
      &:focus-visible {
        outline: solid #ffffff0d;
      }
    }
  }
}

.loading {
  align-self: center;
  margin-top: 15px;
}
.error {
  max-width: 100%;
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
  color: #ea2f2f;
}
.success {
  max-width: fit-content;
  text-align: center;
  font-weight: 500;
  font-size: 1.05rem;
  margin-top: 10px;
}

@media screen and (min-width: 375px) {
  .contactForm {
    padding: 35px 30px;
  }
}

@media screen and (min-width: 550px) {
  .contactForm {
    padding: 35px 50px;
  }
}

@media screen and (min-width: 630px) {
  .contactForm {
    padding: 35px 70px;
  }
}

@media screen and (min-width: 690px) {
  .contactForm {
    padding: 35px 90px;
  }
}


@media screen and (min-width: 740px) {
  .contactForm {
    padding: 0 15px;
    text-align: left;

    &-input {
      margin: 10px 0;
    }

    &-button {
      align-self: center;
      width: 100px;
    }

    &-inputMessage {
      margin: 10px 0;
    }
  }
}