:root {
    --primary-color: #303030;
    --font-title:'Roboto', sans-serif;
    --font-title-size: 2.2rem;
    --header-font-size: 2rem;
    --font-text: 'Poppins', sans-serif;
    --font-text-size: 1.8rem;
}

* {
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}


.header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.header-logo img{
    width: 50px;
    height: 50px;
}

.header-logo h1 {
    margin-left: 2%;
    color: white;
    font-family: var(--font-title);
    font-size: var(--header-font-size);
}


.header-nav {
    width: 35px;
    height: 35px;
}

.header-nav--menu {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: transparent;
    background-image: url("../../../images/header/menu/chevron-izquierdo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
}



.main {
    z-index: 1;
    width: 100%;
    padding: 0 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(255, 255, 255);
}

.main_Hero {
    padding: 2%;
    text-align: center;
    font-family: var(--font-title);
    font-size: 2rem;
}

.main_Hero h1 {
    background-color: #e6b72b;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: var(--font-title-size);
}

.main_Hero p {
    margin-bottom: 8px;
    font-size: var(--font-text-size);
}

.main_Services {
    margin-top: 5%;
    
}

.main_Container {
    margin: 5% 5%;
    text-align: center;
    background-color: #fdfcfc;
    padding: 2%;
    padding-top: 0;
    margin-bottom: 20px;
}

.main_Container--box {  
    
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.main_Container--box img {
    width: 100%;
    height: 200px;
}




.main_Container h1, h2{
    font-family: var(--font-title);
    font-size: var(--font-title-size);
    font-weight: 800;
}

.main_Container h2 {
    color: #BCBCBC;
    margin-bottom: 5%;
}

.main_Container p {
    font-family: var(--font-text);
    font-size: var(--font-text-size);
}



/* button-back scroll */

.button_Container {
    height: 60px;
}

.button_Back{
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:60px;
    /* background-color:#e02525; */
    background-color:#3b3b3b;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
    float:left;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
.button_Back a {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
}

  .button_Back:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }

.button_Back--img {
    position: relative;
    left: -2px;
    width: 22px;
    /* margin-top: 10px; */
} 

/* end */